body {
	background:url('images/back.jpg');
	background-size: 100%;
}

li{
list-style-type: none;
}
.row {
	margin: 0 auto;
	max-width: 100%;
}
	
.row li {
	float: left; /*Щоб меню розташувалось в один рядок*/
	margin-right: 5px;
	margin-left: 5px;
}
.one {
	margin-top: 15%;
	margin-bottom: 5%;
	
	
}
.two {
	margin-top: 15%;
	margin-bottom: 5%;
}
